.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  overflow-x: auto;
  @include no-scrollbar;

  &-list {
    //첫번째 방법(width를 가변적으로 적용하는 방법)
    //@include flexbox(start);
    //width: max-content;

    //두번째 방법(width를 가변적으로 적용하는 방법)
    @include inline-flexbox(start);
    height: 39px;
    padding: 0 $grid-margin - $lnb-link-padding;
    margin-left: -#{$grid-margin};
    white-space: nowrap;
    border-bottom: 1px solid $border;
  }

  &-item {
    //flex-shrink: 0;

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }
}
